article {
  display: flex;
  flex-direction: column-reverse;
  margin-top: 50px;
}

hr {
  border: 2px solid;
  margin: auto;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.tweet-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0 10px 0 10px
}

.avatar {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.tweet-body {
  padding: 0 10px 0 10px;
 
}

.tweet {
  padding: 10px;
  border: 4px solid;
  margin-bottom: 25px;
}
.tweet:hover {
  box-shadow: 10px 10px #afbbe3;
  transition: box-shadow 0.3s ease-in;
}

.buttons :hover {
  color: #cfb10c;
}

#longError, #emptyError {
  border: 2px solid red;
  padding: 0 20px;
  margin-bottom: 30px;
}

#errortext {
  color: red;
}