header.top {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 400px;
  background-color: #ff8c8c;
  background-image: url("../images/white-diamond-dark.png");
}

@media only screen and (min-width: 1024px) {
  header.top {
    width: 30%;
    float: left;
    margin: 2rem;
  }
}
